html {
  font-family: 'Comic Neue';
  font-size: 40px;
  color: white;
  background: rgba(0, 0, 0, 0);
  text-align: right;
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

.muted {
  font-weight: 400;
}

.chat_log {
  margin: .2em 0;
  text-shadow: 0 0 3px black, 0 0 5px black, 0 0 10px black;
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  transform: translateY(100%);
  opacity: 0;
}

.control_panel {
  position: absolute;
  font-size: .8em;
  left: 0;
  display: inline-block;
  opacity: 0;
  transform: scale(0%);
  transition: transform 300ms, opacity 300ms;
  padding: .2em 0;
  border-radius: .5em;
  background: rgba(255, 255, 255, 0.5);
  z-index: 99;
}

.chat_log[data-author]:hover .control_panel {
  transform: scale(100%);
  opacity: 1;
}

.chat_log[data-twitch_user_id]:hover .control_panel {
  transform: scale(100%);
  opacity: 1;
}

.avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 .2em 0 .1em;
  margin-top: -100px;
  transform: translateY(48px);
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  cursor: pointer;
  border-radius: .3em;
  background: linear-gradient(180deg, #4c4c4c, #333);
  color: white;
  border: .05em solid rgba(255, 255, 255, 0.5);
  padding: 0 .2em;
  margin: 0 .2em;
  text-shadow: none;
}

button:hover {
  background: linear-gradient(180deg, #6c6c6c, #555);
}

.chat_log>span {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: .1em .2em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  line-height: 1.35em;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#chat {
  display: flex;
  flex-direction: column-reverse;
}

#chat img.emoji {
  min-width: 1em;
  min-height: 1em;
  max-width: 1.2em;
  max-height: 1.2em;
  vertical-align: middle;
}

#audio {
  position: fixed;
  bottom: 0;
  left: 80px;
  font: 44px "Belanosima Regular";
  text-align: left;
  vertical-align: middle;
  width: calc(100vw - 160px);
  height: 60px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Duplicate audio text over */
#audio-highlight {
  position: absolute;
  left: -1px;
  top: -1px;
  background: -webkit-linear-gradient(#ffffbc, #e6bba5);
  -webkit-background-clip: text;
}

#audio-fill {
  position: absolute;
  left: 0;
  background: -webkit-linear-gradient(#ffa11e, #e65a2f);
  -webkit-background-clip: text;
}

#audio-shadow {
  position: absolute;
  left: 1px;
  top: 1px;
  -webkit-text-fill-color: black;
}

:root {
  --alert-width: 800px;
  --alert-height: 400px;
}

#alert-content {
  width: var(--alert-width);
  flex: 0 0 auto;
  color: white;
  font-family: 'Instrument Serif';
}

#alert-content .big {
  font-size: 2em;
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-family: 'Belanosima';
  text-shadow: 0 0 100px white;
}

#alert-content .letter {
  color: var(--color);
  border-color: white;
}

.word {
  white-space: nowrap;
}

#alert-content .big .letter {
  color: transparent;
  -webkit-text-stroke: 1px var(--color);
  text-shadow: 0 0 100px var(--color);
}

#alert {
  text-align: center;
  position: fixed;
  top: 10%;
  left: calc(50% - 400px);
  width: var(--alert-width);
  border-radius: 40px;
  height: var(--alert-height);
  background: url(vintage_speckles.png);
  background-position: 50% 0%;
  background-size: 400px 300px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset, 5px 0px 0 #e65a2f, -5px 0px 0 #e65a2f;
}

:root {
  --time: 8s;
}

.letter {
  position: relative;
  display: inline-block;
  white-space: pre;
  --color: white;
}

#alert.animated {
  --expand-time: min(calc(var(--time) / 2), 3s);
  display: flex;
  animation:
    expandAlert var(--expand-time) 0ms cubic-bezier(0.1, 1, 0, 1.1) forwards,
    scrollBackground 5s linear infinite,
    moveDown var(--time) 0ms cubic-bezier(0.5, 0.2, 0.5, 0.8) forwards,
    expandAlert var(--expand-time) calc(var(--time) - var(--expand-time)) cubic-bezier(0.1, 1, 0, 1.1) reverse forwards;
}

@keyframes moveDown {
  0% {
    top: 5%;
  }

  100% {
    top: 10%;
  }
}

@keyframes scrollBackground {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: 50% -300px;
  }
}

@keyframes expandAlert {
  0% {
    width: 0;
    height: calc(1.2 * var(--alert-height));
    transform: translateY(calc(-0.1 * var(--alert-height)));
    left: 50%;
  }

  100% {
    width: var(--alert-width);
    height: var(--alert-height);
    transform: translateY(0);
    left: calc(50% - var(--alert-width) / 2);
  }
}

#ecg {
  position: fixed;
  top: 0;
  right: 0;
  border: 2px solid #37cf32;
  border-top: none;
  border-right: none;
  background: rgba(0, 48, 14, 0.512);
  z-index: 2;
  border-radius: 0 0 0 20px;
  backdrop-filter: blur(10px);
}